@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Consolas', 'Liberation Mono', monospace;
}

.usa-map path,
.usa-map circle {
  cursor: pointer;
  transition:
    fill 0.6s,
    stroke 0.6s;
}
